# Token for Hugging Face API for faster access to models and datasets. 
# You can get your token from https://huggingface.co/settings/tokens 
# This is optional, but it can speed up access to models and datasets. 
# If you don't have a token, you can leave this blank or remove the line entirely.
HF_TOKEN = 